<!-- <section style="display:block;">
    <button><a href="/"><h3>MealPicker</h3></a></button>
    <span style="float:right;">
        <button><a href="/about/"><h3>About</h3></a></button>
        <button><a href="/contact/"><h3>Contact</h3></a></button>
    </span>  
</section> -->
<nav>
<div class="nav-wrapper">
    <a href="/restaurants" class="center brand-logo">MealPicker</a>
    <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
    </ul>
</div>
</nav>